/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-branch stub tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Enables every analysis branch. Intended for -stub runs (CI wiring check).

    Use as follows:
        nextflow run atacportray/atacportray -profile test_full,<docker/singularity> --outdir <OUTDIR> -stub

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '12.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Full-branch test profile'
    config_profile_description = 'All branches enabled (stub wiring check)'

    input  = "${projectDir}/assets/samplesheet.csv"
    fasta  = params.modules_testdata_base_path + 'genomics/homo_sapiens/genome/genome.fasta'

    // Enable every branch
    run_epigenome    = true
    run_footprinting = true
    run_variants     = true
    run_cnv          = true
    run_telomere     = true
    run_mito         = true

    // Multi-caller set
    variant_callers  = 'deepvariant,freebayes,haplotypecaller,bcftools'
    run_oncoplot     = true

    macs_gsize       = '2800000'
}
